h3 {
	font-size: 35px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding: 35px;
	color: #BD1111;;
	margin: 0px;
	margin-top: 10px;
	text-align: right;
}

.ui-widget-content a {
	padding: 5px !important;
}

a {
	text-decoration-line: none;
}

#searchPanel {
	align-content: center;
	width: 1550px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("/public/javax.faces.resource/imgs/job.jpg.xhtml")
		!important;
	background-size: cover;
	background-repeat: no-repeat;
}

#candidacyPanel {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

#resultSearch,{
font-size
:
30px;
font-family
:
Arial
,
Helvetica
,
sans-serif;
font-weight
:
normal;
padding
:
0px;
color
:
#808080;
margin
:
0px;
margin-bottom
:
10px;
text-align
:
left;
}
#ttPanel {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding: 0px;
	background-color: #FAF5EF;
	margin: 0px;
	margin-bottom: 10px;
	text-align: left;
	color: #BD1111;
}



#searchAreaPanel, #searchLocalePanel {
	display: inline-block;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	text-align: left;
}

.ui-widget-content a{
	border: 0px solid #ffffff;
	color: #BD1111;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-width: 0px !important;
	border-style: none !important;
	border-color: white !important;
	padding: 0px 0px !important;
	border: none !important;
}

#searchForm {
	color: #8B9398;
	width: 100%;
	margin-left: 70px;
	margin-right: auto;
	margin-top: 60px;
}

#panelSearch {
	width: 100%;
	height: 100px;
}

@charset "utf-8";

h2 {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding: 0px;
	color: #808080;
	margin: 0px;
	margin-bottom: 10px;
	text-align: left;
}

body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-weight: normal;
	text-align: center;
	color: #BD1111;
}

#outBox {
	display: inline-block;
	width: 1550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#toolbarPosition {
	margin-top: 5px;
}

#gridPositions {
	margin-top: 30px;
}



.ui-spinner {
	width: 240px;
}

.ui-spinner-input {
	width: 210px;
}
a {
    color: #BD1111;
}

a:-webkit-any-link {
    color: #BD1111;
    text-decoration: none;
    cursor: auto;
}
/*PARA APAGAR*/
.searchFormContainer{
	margin:0px auto 0px auto;
	width:400px;
	}