body {
}

.jumbotron {
	text-align: center !important;
	width: 30rem !important;
	border-radius: 0.5rem !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	position: absolute !important;
	margin: 4rem auto !important;
	background-color: #fff !important;
	padding: 2rem !important;
}

.container .glyphicon-list-alt {
	font-size: 10rem;
	margin-top: 3rem;
	color: #f96145;
}

input {
	width: 100%;
	margin-bottom: 1.4rem;
	padding: 1rem;
	background-color: #ecf2f4;
	border-radius: 0.2rem;
	border: none;
}
h2 {
	margin-bottom: 3rem;
	font-weight: bold;
	color: #ababab;
}
.btn {
	border-radius: 0.2rem;
}
.btn .glyphicon {
	font-size: 3rem;
	color: #fff;
}
.full-width {
	background-color: #8eb5e2;
	width: 100%;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.box {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
}
.messagebox {
	margin-top:30px;
}

.submitbutton {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff !important;
	background-color: firebrick !important;
	border-color: #f04 !important;
}

.inputbutton {
	padding: 20px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
